.footer{
    background: #1e1e1e;
    color: silver;
    padding: 15px;
}
.inline-list{
    list-style: none;
    padding: 0;
}
.footer-quick-links li a{
    text-decoration: none;
    color: silver;
}
.copyright-text{
    font-size: 0.8em;
}
ul.social-link-list li img{
    height: 30px;
    margin-right: 25px;
}
ul.social-link-list li{
    display: inline-block;
}

ul.footer-get-app-list li img{
    height: 35px;
}


@media only screen and (min-width: 980px) {
    .inline-list.footer-quick-links li{
        display: inline-block;
    }
    .footer-quick-links li:not(:first-child)::before {
        content: "|";
        margin-left: 10px;
    }
    .footer-quick-links li:not(:first-child) a{
        margin-left: 10px;
    }
}
@media only screen and (min-width: 796px) {
    .footer{
        padding: 30px 100px;
    }
    .footer-get-app{
        display: inline-block;
        float: right;
    }
    .social-link{
        display: inline-block;
    }
}
@media only screen and (min-width: 580px) {
    ul.footer-get-app-list li{
        display: inline-block;
    }
    ul.footer-get-app-list li + li{
        margin-left: 15px;
    }
}
